.todoLi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.165rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .label {
  color: var(--completed-txt);
  background-color: var(--completed-li);
  text-decoration: line-through;
}
input[type="checkbox"]:checked + .label::before {
  background-color: #939393;
}

input[type="checkbox"]:checked + .label::after {
  visibility: visible;
}

.label {
  font-family: 'NanumSquare';
  position: relative;
  font-size: 1rem;
  font-weight: 800;
  color: var(--active-txt);
}

.label::before {
  content: '';
  display: inline-block;
  border-radius: 100%;
  background-color: var(--check);
  width: 32px;
  height: 32px;
  box-shadow: var(--shadow-li);
}

.label::after {
  visibility: hidden;
  position: absolute;
  content: '\f00c';
  top: 12px;
  left: 25px;
  /* z-index: 10; */
  color: #BEB3B3;
  font-family: FontAwesome;
  display: inline-block;
  border-radius: 100%;
  font-size: 1.5rem;
}

.label {
  max-width: 580px;
  padding: 0.45rem 1.3rem;
  background-color: var(--active-li);
  box-shadow: var(--shadow-li);
  border-radius: 20px;
  display: flex;
  column-gap: 20px; 
  cursor: pointer;
  align-items: center;
}

/* .del {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: var(--shadow-li);
} */

.del .delicon {
  font-size: 1.7rem;
  color: var(--btn);
  cursor: pointer;
} 

.del .delicon:hover {
  transform: rotate(35deg);
}

/* 모바일 사이즈 todo 구성 */
@media (max-width: 767px)  {

  .todoLi {
    margin-bottom: 1.47rem;
  }

  .label::before {
    width: 20px;
    height: 20px;
  }

  .label {
    font-size: 0.8rem;
    max-width: 18rem;
    column-gap: 10px;
    padding: 0.7rem 0.78rem;
  }

  .del .delicon {
    font-size: 1.2rem;
  }

  .label::after {
    top: 9px;
    left: 15px;
    font-size: 1rem;
  }
}