.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  left: 350px;
  height: 88%;
}

.article {
  /* display: flex;
  flex-direction: column; */
  width: 620px;
  height: 393.5px;
  padding: 0.2rem 1rem;
  overflow-y: scroll;
}

/* 모바일 사이즈 todolist 구성 */
@media only screen and (max-width: 767px)  {
  .section {
    top: 120px;
    left: 8px;
  }

  .article {
    width: 23rem;
    height: 29rem;

  }
}

/* 태블릿 사이즈 TodoList 구현 */
@media only screen and (min-width: 768px) and (max-width: 1023px)  {
  .section {
    top: 120px;
    left: 8px;
  }

  .article {
    width: 46.5rem;
    height: 35rem;

  }
}
