.form {
  position: relative;
  right: 0;
  left: 10px;
  bottom: 10px;
  width: 600px;
  border-radius: 20px;
  box-shadow: var(--shadow);
}

.form .valid {
  /* display: none; */
  position: absolute;
  top: 50px;
  left: 20px;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  color: var(--btn);
  font-weight: 800;
}

.input {
  background-color: var(--input);
  /* box-shadow: var(--shadow); */
  padding: 0.8rem 2rem;
  width: 100%;
  border-radius: 20px;
}

.btn {
  position: absolute;
  right: 0px;
  background-color: var(--btn);
  width: 80px;
  height: 45px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  box-shadow: var(--shadow);
  text-transform: lowercase;
  color: var(--completed-txt);
  font-weight: 700;
  letter-spacing: -1px;
}

/* 모바일 사이즈 addTodo 구성 */
@media (max-width: 767px)  {
  .form {
    left: 0.5rem;
    bottom: 75px;
    width: 21rem;
  }
}