@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css');
/* Noto Sans KR, 나눔스퀘어*/

:root {
  --background: #F9F1F1;
  --box-bg: #FFF9F9;
  --btn: #FF9090;
  --active-li: #ECE4E4;
  --completed-li: #C1B8B8;
  --active-txt: #827C7C;
  --completed-txt: #FFF5F5;
  --shadow: 0px 4px 20px 13px rgba(128, 67, 67, 0.08);
  --shadow-li: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  --input: #FFFBFB;
  --check: #FFFFFF;
}

* {
  font-family: 'Noto Sans KR', 'NanumSquare', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

html.dark {
  --background: #272727;
  --box-bg: #534D4D;
  --btn: #B67D7D;
  --active-li: #3F3939;
  --completed-li: #494242;
  --active-txt: #FFF5F5;
  --completed-txt: #827C7C;
  --shadow-li: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow: 0px 4px 20px 13px rgba(0, 0, 0, 0.08);
  --input: #C5BEBE;
  --check: #A99B9B;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: initial;
}

input {
  outline: none;
  border: none;
  background-color: initial;
}
#root {
  /* display: flex;
  justify-content: space-between; */
  position: relative;
  width: 1000px;
  height: 520px;
  border-radius: 20px;
  box-shadow: var(--shadow); 
  background-color: var(--box-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
